
            #mainwindow {
                visibility: hidden;
            }
            tr {
                vertical-align: top;
            }
            td {
                white-space: nowrap;
            }
            .ryo {
                padding: 0px 2px;
            }
            .bt {
                font-size: 75%;
                white-space: normal;
            }
            .bts {
                white-space: normal;
                font-family: monospace;
            }
            .ttl {
                white-space: nowrap;
            }
            .cbx {
                white-space: nowrap;
            }
            .view {
                border: 0px none #ffffff;
                text-align: right;
                font-size: 100%;
            }
            .right {
                text-align: right;
            }
            .trg {
                color: #fa0505;
                background-color: #c7fafa;
            }
            .maru {
                border-bottom: 1px dotted #fa0505;
            }
            .batsu {
            }
            .vhd {
                background-color: #ffffff;
                color: #ffffff;
            }
            .bd1 {
                font-weight: normal;
            }
            .bd2 {
                font-weight: bold;
            }
            .tbl {
                color: #050505;
                background-color: #fafafa;
                margin: 1ex 2ex;
            }
            .chmap {
                cursor: pointer;
            }
