body{
  color:#000000;
  background:#ffffff;
}

/*
     FILE ARCHIVED ON 12:16:25 Jul 16, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:32:08 Jun 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.734
  exclusion.robots: 0.049
  exclusion.robots.policy: 0.036
  esindex: 0.013
  cdx.remote: 25.528
  LoadShardBlock: 153.633 (3)
  PetaboxLoader3.datanode: 109.699 (4)
  PetaboxLoader3.resolve: 1146.423 (2)
  load_resource: 1120.476
*/